<footer class="py-3 bg-dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                Copyright &copy; My Week 2020</div>
            <div>
                <a href="#">Politica de Privacidade</a> &middot;
                <a href="#">Termo &amp; Condições</a>
            </div>
        </div>
    </div>
</footer>