.py-3.bg-dark {
    background-color: #343a407d!important;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 10px;
    padding-left: 10px;
}

.text-muted {
    color: #ffffff!important;
}

a {
    color: #ffffff!important;
}