<div>
    <div style="font-size: large;">{{cidade}}
        <img style="width: 40px !important;" src={{icon_Temp}}/>
    </div>
    <div style="font-size: small;">
        Temperatura:
        <span style="font-size: medium;">(C) {{temp_C}}°</span>
    </div>
</div>

<!--max: 26° | min: 15°-->