<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <div class="nav-logo-wrap">
        <a class="logo" id="">
            <img src="assets/images/favicon/logo_32.ico" width="30" height="30" alt="logo"> My
            <span class="higl">We</span>ek
        </a>
    </div>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0" style="margin-left: auto!important;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>
                    <i class="fas fa-user-circle"></i>
                    {{acesso.nome}}
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Editar Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>
    </ul>
</nav>