/* LOGO */

.bg-dark {
    background-color: #343a40!important;
}

.nav-logo-wrap {
    float: left;
    margin-right: 20px;
}

.nav-logo-wrap .logo {
    font-family: 'Dosis', Arial, sans-serif;
    display: unset;
    vertical-align: middle;
    max-width: 130px;
    height: 75px;
    font-size: 10px;
    letter-spacing: 5px;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(81, 115, 191);
    font-weight: 600 !important;
}

.nav-logo-wrap .logo img {
    max-height: 100%;
}

.nav-logo-wrap .logo span.higl {
    color: #a28216;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-animation: rotate-letter 5s infinite;
    -moz-animation: rotate-letter 5s infinite;
    -o-animation: rotate-letter 5s infinite;
    -ms-animation: rotate-letter 5s infinite;
    animation: rotate-letter 5s infinite;
}

.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after {
    display: none;
}

.logo,
a.logo:hover {
    font-family: Dosis, arial, sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

@-moz-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}