<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Principal</div>
                <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-alt"></i></div>
                    Calendario
                </a>
                <div class="sb-sidenav-menu-heading">Eventos</div>
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-week"></i></div>
                    Na semana
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-double-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Teste</a>
                        <a class="nav-link" href="#">Teste</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar-check"></i></div>
                    Confirmados
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-double-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="#">Teste</a>
                        <a class="nav-link" href="#">Teste</a>
                    </nav>
                </div>-->
                <div class="sb-sidenav-menu-heading">Configurações</div>
                <!-- <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-filter"></i></div>
                    Filtros
                </a>  -->
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-paper-plane"></i></div>
                    Fale Conosco
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <app-clima></app-clima>
        </div>
    </nav>
</div>