.titulo_h1 {
    margin: 5px 5px 5px 5px;
    font-size: large;
}

.barra_busca {
    height: 59px;
    padding: 5px;
}

.h-100 {
    width: 71% !important;
    float: right;
    padding-left: 0px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 30px;
    width: 160px;
    background-color: #353b48;
    border-radius: 15px;
    padding: 0px;
    margin-left: auto;
}

.search_select {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    float: left;
    height: 30px;
    width: 100px;
    margin-left: 7px;
    line-height: 15px;
    font-size: small;
}

.search_icon {
    height: 25px;
    width: 25px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: #563ce7;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 2px;
}