<h1 class="titulo_h1">Minha Semana</h1>
<ol class="breadcrumb mb-2 barra_busca" style="background-color: #1f325f80;">
    <div style="width: 265px; height: 30px; align-self: center;">
        <div class="row">
            <li style="color: #b1b6bb; align-self: center;
            font-size: small; margin-left: 20px;">Calendario</li>
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <form #pesquisaForm="ngForm" (ngSubmit)="buscarCalendario">
                            <input class="search_select" type="text" placeholder="Buscar..." aria-label="Number" [formControl]="cidade" list="dynmicList" />
                            <a class="search_icon" (click)="buscarCalendario()"><i class="fas fa-search"></i></a>
                            <datalist id="dynmicList">
                                <option *ngFor="let city of cidadeList" [value]="city">{{city}}</option>
                            </datalist>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ol>

<div style="background-color: rgb(195 196 197 / 99%); border-radius: 10px;">
    <div style="padding: 10px 10px 10px 10px; margin-bottom: 20px;">
        <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'></full-calendar>
    </div>
</div>

<!--p>Evento filtrado: {{ items | json }}</p-->