<h2 mat-dialog-title>Confirmação Cadastro</h2>
<div mat-dialog-content>
    <p>Cadastro realizado com sucesso! você receberar seu Login e senha no email cadastrado.</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">OK</button>
</div>