<div class="col">
    <div class="flex-box row">
        <div class="col-sm-8 col-sm-offset-2 text">
            <h1><strong>My Week</strong> conecte-se</h1>
            <div class="description">
                <p style="font-size: larger;">
                    Fique por dentro de tudo que acontece na sua região, baixe nosso APP na
                    <a href="https://play.google.com/store">
                        <strong>Google Play</strong></a>, personalize sua agenda e curta seus eventos!
                </p>
            </div>
        </div>
    </div>

    <div class="flex-box row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3> Entre na sua agenda</h3>
                    <p style="font-size: x-small;">Entre com seu usuário e senha:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-lock" style="height: 35px !important;"></i>
                </div>
            </div>

            <form>
                <div class="form-bottom">
                    <div class="form-group">
                        <label class="sr-only" for="form-username">Username</label>
                        <input type="text" name="form-username" placeholder="Usuário..." [(ngModel)]="userLogin" class="form-username form-control" id="form-username" autofocus="true" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">Password</label>
                        <input type="password" name="form-password" placeholder="Senha..." [(ngModel)]="password" class="form-password form-control" id="form-password" />
                    </div>

                    <div>
                        <button id="bt_entrar" class="btn btn-link-1" style="background-color: #350090 !important; width: 45% !important;
                        text-align: center !important;" (click)="login()">Entrar</button>

                        <a id="bt_cancelar" (click)="cadastro()" class="btn btn-link-1" style="background-color: #6495ED !important; width: 45% !important;
                        text-align: center !important; padding-top: 8px;">Cadastre-se</a>
                    </div>

                    <div class="col-sm-12" style="text-align: center !important;">
                        <a href="#senhaModal" style="color: rgb(200, 210, 228) !important;     font-size: smaller;" data-toggle="modal">Esqueci
                            a senha</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>