/* LOGO */

a,
a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 13px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

.bg-dark {
    background-color: #343a40!important;
}

.nav-logo-wrap {
    float: left;
    margin-right: 20px;
}

.nav-logo-wrap .logo {
    font-family: 'Dosis', Arial, sans-serif;
    display: unset;
    vertical-align: middle;
    max-width: 130px;
    height: 75px;
    font-size: 22px;
    letter-spacing: 5px;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(47 71 125);
    ;
    font-weight: 600 !important;
}

.nav-logo-wrap .logo img {
    max-height: 100%;
}

.nav-logo-wrap .logo span.higl {
    color: #a28216;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-animation: rotate-letter 5s infinite;
    -moz-animation: rotate-letter 5s infinite;
    -o-animation: rotate-letter 5s infinite;
    -ms-animation: rotate-letter 5s infinite;
    animation: rotate-letter 5s infinite;
}

.nav-logo-wrap .logo:before,
.nav-logo-wrap .logo:after {
    display: none;
}

.logo,
a.logo:hover {
    font-family: Dosis, arial, sans-serif;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

@-moz-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-letter {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}

strong {
    font-weight: 500;
}


/***** Top content *****/

.row {
    justify-content: center;
}

.top-content {
    padding: 30px 0 0 0;
    margin-top: 0px;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.form-box {
    padding-top: 10px;
}

.f1 {
    padding: 15px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.label {
    font-size: 13px;
    color: #555;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

label {
    font-weight: 300;
}

mat-form-field {
    margin-right: 12px;
    width: 100% !important;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

.form-group {
    margin-bottom: 0px;
}

.modal {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8);
}

.modal-dialog {
    top: 20%;
    width: 100%;
    position: absolute;
}

.modal-content {
    border-radius: 0px;
    border: none;
    top: 40%;
}

.modal-body {
    background-color: #0f8845;
    color: white;
}