<div class="col">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="height: 41px;" role="navigation">
        <div class="nav-logo-wrap">
            <a class="logo" id="">
                <img src="assets/images/favicon/logo_32.ico" width="30" height="30" alt="logo"> My
                <span class="higl">We</span>ek
            </a>
        </div>
    </nav>

    <div class="top-content">
        <div class="row">
            <div class="text">
                <h1 style="height: 30px;
                margin-bottom: 10px;"><strong>Cadastre-se</strong></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
                <form class="f1" #cadastroClienteForm="ngForm" (ngSubmit)="criarCliente">
                    <h3>CADASTRE-SE EM NOSSO APLICATIVO</h3>
                    <p>Preencha o formulário para obter seu acesso</p>

                    <div class="form-group">
                        <label class="label" for="Nome">Nome</label>
                        <mat-form-field appearance="fill">
                            <input matInput type="text" placeholder="Nome" [(ngModel)]="novoCliente.nome" name="nome" ngModel>
                        </mat-form-field>
                        <!-- <input id="Nome" name="Nome" type="text" placeholder="Nome" required="required" class="form-control input-md" /> -->
                    </div>

                    <div class="form-group">
                        <label class="label" for="Email">E-mail</label>
                        <mat-form-field appearance="fill">
                            <input matInput type="email" placeholder="Email..." [(ngModel)]="novoCliente.email" name="email" ngModel [email]="true">
                        </mat-form-field>
                        <!--  <input id="Email" name="Email" type="email" placeholder="Email..." required="required" class="form-control input-md inputs" /> -->
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="label" for="Telefone">Celular</label>
                                <mat-form-field appearance="fill">
                                    <input matInput type="tel" placeholder="(99) 9 9999-9999" [(ngModel)]="novoCliente.celular" name="celular">
                                </mat-form-field>
                                <!--  <input id="Telefone" name="Telefone" type="tel" placeholder="(99) 9 9999-9999" required="required" class="form-control input-md inputs" /> -->
                            </div>

                            <div class="col">
                                <label class="label" for="DtNascimento">Data Nasc.</label>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <input matInput [matDatepicker]="picker" disabled [(ngModel)]="novoCliente.dtNascimento" name="dtNascimento">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker disabled="false"></mat-datepicker>
                                </mat-form-field>
                                <!-- <input id="DtNascimento" name="DtNascimento" type="date" placeholder="DD/MM/AAAA" data-mask="00/00/0000" maxlength="10" class="form-control input-md inputs" required="required" /> -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="label" for="Senha">Senha</label>
                                <mat-form-field appearance="fill">
                                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="novoCliente.senha" name="senha">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <!-- <input id="Senha" name="Senha" type="password" placeholder="Senha" required="required" class="form-control input-md" /> -->
                            </div>

                            <div class="col">
                                <label class="label">Generos:</label>
                                <mat-form-field appearance="fill">
                                    <mat-select [formControl]="generos" multiple>
                                        <mat-select-trigger>
                                            {{generos.value ? generos.value[0] : ''}}
                                            <span *ngIf="generos.value?.length > 1" class="example-additional-selection">
                                        (+{{generos.value.length - 1}} {{generos.value?.length === 2 ? 'outro' : 'outros'}})
                                        </span>
                                        </mat-select-trigger>
                                        <mat-option *ngFor="let genero of generoList" [value]="genero">{{genero}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <section>
                        <button mat-raised-button color="primary" (click)="criarCliente()" style="right: 5px;">
                            cadastrar
                        </button>

                        <a mat-raised-button [routerLink]="['/login']" style="left: 5px;">
                            Cancelar
                        </a>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>