<!--app-navbar></app-navbar>
<div id="layoutSidenav">
    <app-sidebar></app-sidebar>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <app-calendario></app-calendario>
            </div>
        </main>
        <app-footer></app-footer>
    </div>
</div-->

<div class="col">
    <app-navbar></app-navbar>

    <div id="layoutSidenav">
        <app-sidebar></app-sidebar>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <app-calendario></app-calendario>
                </div>
            </main>
            <app-footer></app-footer>
        </div>
    </div>
</div>